* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

body {
    background-color: #f2f2f2;
    color: #333333;
}

.wrap {
    width: 1200px;
}

.head {
    width: 100%;
    height: 100px;

}

.slide {
    width: 100%;
    height: 300px;
}

.contents {
    width: 100%;
    height: 200px;
}

.notice {
    width: 400px;
    height: 200px;
    float: left;
}

.gall {
    width: 400px;
    height: 200px;
    float: left;
}

.short {
    width: 400px;
    height: 200px;
    float: left;
}

.foot {
    width: 100%;
    height: 100px;
}

.left {
    width: 1000px;
    height: 100px;
    float: left;
}

.menu2 {
    width: 100%;
    height: 50px;
}

.copyright {
    width: 100%;
    height: 50px;
}

.right {
    width: 200px;
    height: 100px;
    float: left;
}